/* ------------ General Body Styling ------------ */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  width: auto;
  background: rgb(100,132,159);
  background: radial-gradient(circle, rgba(100,132,159,1) 15%, rgba(41,58,71,1) 100%);
  /* display: flex;
  flex-direction: column; */
}


/* ------------- Header Styling ------------ */

#mainHeader {
  margin-bottom: 3em;
}

#titleChild {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: fit-content;
  width: fit-content;
}

#scroll {
  transition: 500ms;
  margin-right: .5em;
  color: #9f2a2d;
  text-shadow: #260707c3 -2px 2px 3px;
  justify-self: center;
  align-self: center;
}

#scroll:hover {
  transition: 500ms ease;
  color: black;
  text-shadow: #260707c3 1.5px 1.5px 5px;
  -webkit-font-smoothing: antialiased;
}

#mainTitle {
  padding-right: .5em;
  width: fit-content;
  font-size: 5em;
  transition: 500ms;
  font-family: 'Almendra', serif;
  text-align: center;
  color: #9f2a2d;
  text-shadow: #260707c3 -2px 2px 4px;
  -webkit-font-smoothing: antialiased;
}

#mainTitle:hover {
  transition: 500ms ease;
  color: black;
  text-shadow: #260707c3 1.5px 1.5px 5px;
  -webkit-font-smoothing: antialiased;
}

#mainSubTitle{
  width: fit-content;
  margin: 0px auto 1em auto;
  font-size: 1.5em;
  transition: 800ms;
  font-family: 'Almendra', serif;
  text-align: center;
  color: black;
  text-shadow: #000000c3 -1px -1px .25px;
}


/* ------------- Navbar Styling ------------ */


#mainNav {
  /* height: 6em; */
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin: 0 auto;
  max-width: 100%;
  background: rgb(144,37,40);
  background: radial-gradient(circle, rgba(144,37,40,1) 0%, rgba(105,23,26,1) 100%);
  box-shadow: #000000c4 0px 0px 4px;
  /* justify-content: center; */
}

#navButtons {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.navButton {
  margin-right: 1em;
  font-size: 1.25em;
  font-family: 'Almendra', serif;
  color: #9f2a2d;
  background-color: black;
  border: solid black 2px;
  border-radius: 5px 5px;
}

.navButton:hover {
  color: #9f2a2d;
  background: #E2DED0;
  border: solid black 2px;
}

.navButtonL {
  width: 100px;
  margin-right: 1em;
  font-size: 1.25em;
  font-family: 'Almendra', serif;
  color: #9f2a2d;
  background-color: black;
  border: solid black 2px;
  border-radius: 5px 5px;
}

.navButtonL:hover {
  color: #9f2a2d;
  background: #E2DED0;
  border: solid black 2px;
}

/* ------------- Main Styling ------------ */

#root{
  position: relative;
  min-height: 100vh;
}

#mainBody {
  /* height: 100%; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Character Form Styling */

.formOneButton {
  font-size: 1.25em;
  font-family: 'Almendra', serif;
  color: #9f2a2d;
  background-color: black;
  border: solid black 2px;
  border-radius: 5px 5px;

}

.formOneButton:hover {
  color: #9f2a2d;
  background: #E2DED0;
  border: solid black 2px;

}

#headerMain{
  padding-bottom: 5em;
}

/* --------------- Footer Styling ---------------- */


#mainFooter {
  position: absolute;
  bottom: 0;
  padding: 24px 0px 24px 0px;
  margin-top: auto;
  margin-bottom: 0;
  width: 100vw;

  background: rgb(144,37,40);
  background: radial-gradient(circle, rgba(144,37,40,1) 0%, rgba(105,23,26,1) 100%);


  display: grid;
  grid-template-columns: 1fr .75fr 1fr 1fr .75fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  align-content: center;
  justify-content: center;

  box-shadow: #596468 1px 1px 4px;
}

#d20 {
  transition: 400ms;
  align-self: center;
  justify-self: center;
  color: black;
}

#d20:hover {
  transition: 400ms;
  color: #E2DED0;
}

#authors {
  font-family: 'Almendra', serif;
  align-self: center;
  justify-self: center;
  color: black;
}

#link {
  font-family: 'Almendra', serif;
  align-self: center;
  justify-self: center;
  color: black;
}

#footerAuthors{
  font-size: 2em;
}

#ourNames {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

#team{
  font-size: 1.25em;
  font-family: 'Nanum Myeongjo', serif;
  transition: 200ms;
  text-align: center;
  text-decoration: none;
  margin: 0 0;
  color: black;
}

#team:hover {
  transition: 300ms;
  color: #E2DED0;
}

#url {
  font-size: 1.25em;
  font-family: 'Nanum Myeongjo', serif;
  transition: 200ms;
  text-align: center;
  text-decoration: none;
  margin: 0 0;
  color: black;
}

#url:hover {
  transition: 300ms;
  color: #E2DED0;
}

#links {
  justify-content: center;
  display: flex;
  flex-direction: column;
}



/* ----- Character Card Styling ----- */


.card {
  max-width: 100%;
}


/* ----- Screen Size Conditional Styling ----- */


@media ( max-width: 428px ) {
  /* ------------ General Body Styling ------------ */

  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  body {
    width: auto;
    background: rgb(100,132,159);
    background: radial-gradient(circle, rgba(100,132,159,1) 15%, rgba(41,58,71,1) 100%);
    /* display: flex;
    flex-direction: column; */
  }
  
  
  /* ------------- Header Styling ------------ */
  
  #mainHeader {
    margin-bottom: 3em;
  }
  
  #titleChild {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: fit-content;
    width: fit-content;
  }
  
  #scroll {
    transition: 500ms;
    padding-left: .35em;
    margin-right: -.15em;
    color: #9f2a2d;
    text-shadow: #260707c3 -2px 2px 3px;
    justify-self: center;
    align-self: center;
  }
  
  #scroll:hover {
    transition: 500ms ease;
    color: black;
    text-shadow: #260707c3 1.5px 1.5px 5px;
    -webkit-font-smoothing: antialiased;
  }
  
  #mainTitle {
    padding-right: .15em;
    width: fit-content;
    font-size: 3em;
    transition: 500ms;
    font-family: 'Almendra', serif;
    text-align: center;
    color: #9f2a2d;
    text-shadow: #260707c3 -2px 2px 4px;
    -webkit-font-smoothing: antialiased;
  }
  
  #mainTitle:hover {
    transition: 500ms ease;
    color: black;
    text-shadow: #260707c3 1.5px 1.5px 5px;
    -webkit-font-smoothing: antialiased;
  }
  
  #mainSubTitle{
    width: fit-content;
    margin: 0px auto 1em auto;
    font-size: 1.5em;
    transition: 800ms;
    font-family: 'Almendra', serif;
    text-align: center;
    color: black;
    text-shadow: #000000c3 -1px -1px .25px;
  }
  
  
  /* ------------- Navbar Styling ------------ */
  
  
  #mainNav {
    /* height: 6em; */
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    margin: 0 auto;
    max-width: 100%;
    background: rgb(144,37,40);
    background: radial-gradient(circle, rgba(144,37,40,1) 0%, rgba(105,23,26,1) 100%);
    box-shadow: #000000c4 0px 0px 4px;
    /* justify-content: center; */
  }
  
  #navButtons {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  
  .navButton {
    width: fit-content;
    margin-right: 1em;
    font-size: 1em;
    font-family: 'Almendra', serif;
    color: #9f2a2d;
    background-color: black;
    border: solid black 2px;
    border-radius: 5px 5px;
  }
  
  .navButton:hover {
    color: #9f2a2d;
    background: #E2DED0;
    border: solid black 2px;
  }
  
  .navButtonL {
    width: fit-content;
    margin-right: 1em;
    font-size: 1em;
    font-family: 'Almendra', serif;
    color: #9f2a2d;
    background-color: black;
    border: solid black 2px;
    border-radius: 5px 5px;
  }
  
  .navButtonL:hover {
    color: #9f2a2d;
    background: #E2DED0;
    border: solid black 2px;
  }
  
  /* ------------- Main Styling ------------ */
  
  #root{
    position: relative;
    min-height: 100vh;
  }
  
  #mainBody {
    /* height: 100%; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  /* Character Form Styling */
  
  .formOneButton {
    font-size: 1.25em;
    font-family: 'Almendra', serif;
    color: #9f2a2d;
    background-color: black;
    border: solid black 2px;
    border-radius: 5px 5px;
  
  }
  
  .formOneButton:hover {
    color: #9f2a2d;
    background: #E2DED0;
    border: solid black 2px;
  
  }
  
  #headerMain{
    padding-bottom: 5em;
  }
  
  /* --------------- Footer Styling ---------------- */
  
  
  #mainFooter {
    position: absolute;
    bottom: 0;
    padding: 0px 8px 0px 8px;
    margin-top: auto;
    margin-bottom: 0;
    width: 100vw;
  
    background: rgb(144,37,40);
    background: radial-gradient(circle, rgba(144,37,40,1) 0%, rgba(105,23,26,1) 100%);
  
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    align-content: center;
    justify-content: center;
  
    box-shadow: #596468 1px 1px 4px;
  }
  
  #d20 {
    display: none;
  }
  
  
  #authors {
    font-family: 'Almendra', serif;
    align-self: center;
    justify-self: center;
    color: black;
  }

  #link {
    display: none;
  }
  
  #footerAuthors{
    font-size: 1em;
  }
  
  #ourNames {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
  }
  
  #team {
    font-size: 1em;
    font-family: 'Nanum Myeongjo', serif;
    transition: 200ms;
    text-align: center;
    text-decoration: none;
    margin: 0 0;
    color: black;
  }

  #url {
  display: none;
  }
  
  #team:hover {
    transition: 300ms;
    color: #E2DED0;
  }
  
  #links {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}